/* Import Google Fonts and set body styles */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Center the login form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style for the login form */
.login-form {
  max-width: 400px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

/* Style for the login header */
.login-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Poppins", sans-serif; /* Apply Poppins font */
}

/* Style for the form labels */
label {
  font-weight: 500;
}

/* Style for the form inputs */
.form-control {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 12px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease;
}

/* Add some spacing between form groups */
.form-group {
  margin-bottom: 20px;
}

/* Style for the login button */
.login-button {
  background-color: #007bff; /* Blue color for button */
  border: none;
  border-radius: 4px;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  color: #fff; /* White text color */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect for the login button */
.login-button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
  transform: translateY(-1px);
}

/* Center the links and add some spacing */
.login-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for the links */
.password-recovery-link,
.registration-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Add hover effect for the links */
.password-recovery-link:hover,
.registration-link:hover {
  color: #0056b3; /* Darker shade of blue on hover */
}

/* Media query for smaller screens */
@media screen and (max-width: 500px) {
  .login-container {
    padding: 20px; /* Add some padding to the container */
  }

  .login-form {
    box-shadow: none; /* Remove the box shadow for smaller screens */
    background-color: transparent; /* Make the background transparent */
  }

  .login-header {
    font-size: 22px; /* Reduce the font size for the header */
  }

  /* Center the login button */
  .login-button {
    margin-top: 20px;
  }

  /* Center the links */
  .login-links {
    justify-content: center;
  }
}
