<div class="form-container">
  <h2>Shoe Request Form</h2>
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="string"
        id="phoneNumber"
        name="phoneNumber"
        (input)="onPhoneNumberChange($event)"
        placeholder="Enter your phone number to begin"
        required
      />
    </div>
    <button *ngIf="phoneLengthValid" (click)="onNewShoe()">
      {{ shoes.length > 0 ? "Add another shoe" : "Add a shoe" }}
    </button>
    <!--- START: Seperate component -->
    <div class="shoeForm" *ngIf="newShoe && phoneLengthValid">
      <app-shoe-form (addToRequest)="addToRequest($event)"></app-shoe-form>
    </div>
    <!--- START: Seperate component -->
    <div class="summary-container">
      <app-shoe-form-summary
        *ngIf="shoes.length > 0 && phoneLengthValid"
        [shoes]="shoes"
      ></app-shoe-form-summary>
    </div>
  </form>
</div>
