<div class="form-container">
  <h2>Shoe Request Form</h2>
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="string" id="phoneNumber" name="phoneNumber" required />
    </div>
    <div class="shoeForm">
      <div class="form-group">
        <label for="manufacturer">Shoe Manufacturer Name</label>
        <input
          type="text"
          id="manufacturer"
          name="manufacturer"
          placeholder="Nike, Adidas, Jordan, etc..."
          [(ngModel)]="manufacturer"
          required
        />
      </div>
      <div class="form-group">
        <label for="shoeName">Shoe Name</label>
        <input
          type="text"
          id="shoeName"
          name="shoeName"
          placeholder="Jordan 1 Chicago, Dunk Panda, Yeezy 350's"
          [(ngModel)]="shoeName"
          required
        />
      </div>
      <div class="form-group">
        <label for="shoeSize">Shoe Size US</label>
        <input
          type="number"
          step="any"
          id="shoeSize"
          name="shoeSize"
          placeholder="8, 9, 10, 11.5"
          [(ngModel)]="shoeSize"
          required
        />
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          id="quantity"
          name="quantity"
          [(ngModel)]="quantity"
          required
        />
      </div>
      <button class="add-to-request" (click)="addToRequest()">
        Add to request
      </button>
    </div>
    <button>Submit Requested Shoes</button>
  </form>
</div>
