<div class="form-container">
  <h2>Shoe Request Form</h2>
  <form (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="string"
        id="phoneNumber"
        name="phoneNumber"
        (input)="onPhoneNumberChange($event)"
        placeholder="Enter your phone number to begin"
        required
      />
    </div>
    <button *ngIf="phoneLengthValid" (click)="onNewShoe()">
      {{ shoes.length > 0 ? "Add another shoe" : "Add a shoe" }}
    </button>
    <!--- START: Seperate component -->
    <div class="shoeForm" *ngIf="newShoe">
      <app-shoe-form (addToRequest)="addToRequest($event)"></app-shoe-form>
    </div>
    <!--- START: Seperate component -->
    <div class="summary" *ngIf="shoes.length > 0">
      <h3>Request summary:</h3>
      <div *ngFor="let shoe of shoes">
        <p>{{ shoe.manufacturer }} {{ shoe.shoeName }}</p>
        <p>Shoe Size: {{ shoe.shoeSize }}</p>
        <p>Shoe Quantity: {{ shoe.shoeQuantity }}</p>
      </div>
    </div>
    <button class="submit-request-btn" *ngIf="shoes.length > 0">
      Submit Requested Shoes
    </button>
  </form>
</div>
